@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.footer{
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}
