@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a{
  text-decoration: none;
  color: #1874BA;
}

.container,
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracker-navbar {
  width: 25em;
  height: 2em;
  border: none;
  box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  padding-left: 10px;
  margin-right: 20px;
}

.search-button{
  all: unset;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button img{
  width: 100%;
}

.custom-autocomplete-panel {
  border-radius: 18px;
}

.suggested-gender-button{
  all: unset;
  color: #1874BA;
}
