<div class="container">

  <!-- <input type="text" #searchField placeholder="Buscar película" class="tracker-navbar" name="search">
  <button (click)="onSearch(searchField.value)" class="search-button">
    <img src="../../assets/magnifying-glass-backup-svgrepo-com (1).png" alt="Buscar" >

  </button> -->

  <form class="search-container">
      <input
            type="text"
            placeholder="¿Qué te apetece ver hoy?"
            class="tracker-navbar"
            name="search"
            [formControl]="inputSearch"
            [value]="inputSearch.value"
      />

    <button (click)="onSearch()" type="submit" class="search-button">
      <img
        src="../../assets/magnifying-glass-backup-svgrepo-com (1).png"
        alt="lupa"
      />
    </button>
  </form>

</div>
