<div class="container">
  <div class="background">
  <form
    class="form-signin"
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <h1>Cambiar contraseña</h1>
    <!-- Errors -->
    <div *ngIf="errors" class="alert alert-danger mt-3">
      {{ errors }}
    </div>
    <div class="inputs">
      <!-- <label>Email</label> -->
      <div class="email">
      <input type="email" class="form-control" formControlName="email" placeholder="Email"/>
      </div>

      <!-- <label>Nueva contraseña</label> -->
      <div class="email">
      <input type="password" class="form-control" formControlName="password" placeholder="Contraseña"/>
      </div>

      <!-- <label>Confirmar nueva contraseña</label> -->
      <div class="email">
      <input
        type="password"
        class="form-control"
        formControlName="password_confirmation"
        placeholder="Confirmar contraseña"
      />
      </div>
    </div>
    <button type="submit" class="submit">
      Confirmar
    </button>
  </form>
  </div>
</div>
