<div class="comments">
  <div class="comment-form">
    <h3 class="comments-title">Reseñas: </h3>
    <div class="comment-form-title">Escribe un comentario: </div>
    <comment-form submitLabel="Publicar" (handleSubmit)="addComment($event)"></comment-form>
  </div>
  <div class="comments-container">
    <comment *ngFor="let comment of comments"
              [comment]="comment"
              (setActiveComment)="setActiveComment($event)"
              [activeComment] = "activeComment"
              (updateComment)="updateComment($event)"
              (deleteComment)="deleteComment($event)"
    />
  </div>

  <div class="no-comments" *ngIf="comments.length === 0">
    <p>Aún no hay reseñas para esta película. ¡Sé la primera persona en dar su opinión!</p>
  </div>

</div>
