<div>
  <!-- <form [formGroup]="resetForm" (ngSubmit)="onSubmit()"> -->
  <form [formGroup]="resetForm">
      <h3>Reset Password</h3>
      <p>Provide valid email id to reset your account's password.</p>
      <!-- Error: eran divs en lugar de ng-container -->

      <ng-container *ngIf="errors != null">
          {{ errors }}
      </ng-container>

      <ng-container *ngIf="successMsg != null">
        {{ successMsg?.message }}
      </ng-container>
      <!-- Login -->
      <div>
          <label>Email</label>
          <input type="email" formControlName="email">
      </div>
      <button type="submit" (click)="onSubmit()">
        Reset Password
      </button>
  </form>
</div>
