<div class="container">
  <div class="background">
  <form class="email-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <h1>Cambiar contraseña</h1>
      <p class="mb-4">Escribe un email válido para resetear la contraseña de tu cuenta</p>

      <ng-container *ngIf="hasError">
        <div class="error-container">
          <p class="message">{{ hasErrorText }}</p>
        </div>
      </ng-container>

      <ng-container *ngIf="hasSuccess">
        <div class="success-container">
          <p class="message">{{ hasSuccessText }}</p>
        </div>
      </ng-container>

      <!-- Login -->
      <div class="inputs">
        <div class="email">
          <!-- <label>Email</label> -->
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
          </div>
      </div>
      <button type="submit" class="submit" [disabled]="resetForm.invalid">
        Enviar email
      </button>

  </form>
  <a class="links" href="">Volver a la página principal</a>
  </div>
</div>
