<div class="container">
  <div class="background">
  <form class="email-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <h1>Cambiar contraseña</h1>
      <p class="mb-4">Escribe un email válido para resetear la contraseña de tu cuenta</p>
      <!-- Error -->
      <div *ngIf="errors != null" class="alert alert-danger mt-3">
          {{ errors }}
      </div>
      <div *ngIf="successMsg != null" class="alert alert-primary mt-3">
        {{ successMsg?.message }}
      </div>
      <!-- Login -->
      <div class="inputs">
        <div class="email">
          <!-- <label>Email</label> -->
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
          </div>
      </div>
      


      <button type="submit" class="submit" >
        Enviar email
      </button>
  </form>
  <a class="links" href="">Volver a la página principal</a>
  </div>
</div>