a{
  text-decoration: none;
  color: #F5F3F4;
  margin: 0 10px;
}

.footer{
  padding: 50px 0;
  text-align: center;
  background-color: #1874BA;
  color: #F5F3F4;
  font-family: Arial, Helvetica, sans-serif;
}

div{
  padding: 20px;
}

.links{
  display: flex;
  justify-content: space-evenly;
}

.same-page{
  margin: 0 auto;
  width: 500px;
  color: #f5f3f4c3;
}

.bolder{
  font-weight: bold;
  font-size: 18px;
}

span{
  font-size: 13px;
  color: #f5f3f4c3;
}

hr{
  border: 0;
  background-color: #F5F3F4;
  width: 40%;
  height: 2px;
}
