.container {
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background {
  background-color: #f5f3f4;
  padding: 20px 50px;
  border-radius: 15px;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 40px;
  margin-bottom: 0;
  font-size: 2em;
}

.inputs {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email,
.pass {
  padding-top: 30px;
}

input {
  border: none;
  border-bottom: solid #b1a7a6 1px;
  padding: 20px;
  width: 80%;
  height: 100%;
  color: #b1a7a6;
}

.submit {
  background-color: #1874ba;
  padding: 20px;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 25px;
}

.submit:hover {
  background-color: #125385;
}

.submit:active {
  background-color: #1c7fca;
}

.submit:disabled {
  background-color: #1253857a;
  cursor: default;
}
