<div id="content-navbar">
  <mat-toolbar class="navbar">
    <div class="title-div">SEYTECLUB</div>
    <div class="tracker-div">
      <input
        type="text"
        placeholder="Nombre de película"
        class="tracker-navbar"
      />
      <img
        src="../../assets/magnifying-glass-backup-svgrepo-com (1).png"
        alt="lupa"
        class="tracker-glass"
      />
    </div>
    <div class="auth-div">
      <button class="register-btn">Registrarse</button>
      <button class="login-btn">Entrar</button>
    </div>
  </mat-toolbar>
</div>
