<div id="content-navbar">
  <mat-toolbar class="navbar">
    <div class="title-div" [routerLink]="['/']">SEYTECLUB</div>

      <app-search></app-search>

    <div class="auth-div" *ngIf="!logged">
      <button class="register-btn" [routerLink]="['/auth/registro']">
        Registrarse
      </button>
      <button class="login-btn" [routerLink]="['/auth/login']">Entrar</button>
    </div>
    <div class="logged-div" *ngIf="logged">
      <div [routerLink]="['/usuario/', user.id]" class="user-page">
        <img *ngIf="user.image" [src]="url + user.image" id="circle" alt="" />
        <img *ngIf="!user.image" src="../../assets/user.png" alt="" />
        <p *ngIf="user.username">{{ user.username }}</p>
        <p *ngIf="!user.username">User</p>
      </div>
      <button (click)="logout()">Cerrar sesión</button>
    </div>
  </mat-toolbar>
</div>
