@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#content-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1874ba;
}
.title-div{
  padding: 15px 20px;
}

.title-div a {
  color: #ffffff;
  text-decoration: none;
}

.auth-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-btn {
  background: #159ca3;
  width: 10em;
  height: 2.5em;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  margin-right: 10px;
  color: #ffffff;
  font-size: 14px;
}

.login-btn {
  background: #ffffff;
  width: 10em;
  height: 2.5em;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  margin-right: 10px;
  color: #159ca3;
  font-size: 14px;
}

.logged-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logged-div button {
  background: #ffffff;
  width: 10em;
  height: 2.5em;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  margin-right: 10px;
  /* color: #159ca3; */
  color: #FF8811;
  font-size: 14px;
  margin-left: 3em;
  transition: 0.3s;
}

.logged-div button:hover {
  transition: 0.3s;
  background: #FF8811;
  /* color: #1874ba; */
  color: #ffffff;
}

.logged-div img {
  width: 2em;
  height: 2em;
  margin-top: 5px;
}

.logged-div p {
  margin-left: 0.5em;
  margin-top: 10px;
  color: white;
  font-size: 0.9em;
}

.user-page{
  display: flex;
  cursor: pointer;
  padding: 5px 15px;
}

.title-div:hover,
.user-page:hover{
  background-color: #12598f;
}

#circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
