<div class="container">
  <div class="user-page-header">
    <div class="user-image">
      <div *ngIf="!user.image">
        <img src="../../assets/user.png" alt="Imagen de usuario">
      </div>
      <div *ngIf="user.image">
        <img src="user.image" alt="Imagen de {{ user.username }}">
      </div>
    </div>

    <div class="user-data">
      <div *ngIf="!isEditing">
        <p id="user-name">{{ user.username }}</p>
        <p>{{ user.email }}</p>
        <p *ngIf="user.name && user.surname">{{ user.name }} {{ user.surname }}</p>
        <p *ngIf="!(user.name && user.surname)" class="unknown-data">¡Aún no nos has dicho cómo te llamas!</p>

        <p *ngIf="user.birth_date">{{ user.birth_date }}</p>
      </div>

      <div *ngIf="isEditing" class="user-edit-form">
        <form [formGroup]="editForm" (ngSubmit)="saveChanges()">
          <div class="form-group username">
            <input type="text" formControlName="username">
          </div>

          <div class="form-group">
            <input type="text" formControlName="email">
          </div>

          <div class="form-group">
            <input type="text" formControlName="name" placeholder="Nombre">
          </div>

          <div class="form-group">
            <input type="text" formControlName="surname" placeholder="Apellido">
          </div>

          <div class="form-group">
            <input type="date" formControlName="birth_date">
          </div>

          <div class="form-group pass-container">
            <label for="new-pass">Contraseña nueva:</label>
            <input type="password" formControlName="new_pass">
          </div>

          <div class="form-group pass-container">
            <label for="password">Introduce tu antigua contraseña para guardar los cambios: </label>
            <input type="password" formControlName="password">
          </div>

          <div *ngIf="hasError" class="message-container">
            <p class="error-message">{{ hasErrorText }}</p>
          </div>

          <div class="button-container">
            <input type="submit" value="Guardar" [disabled]="editForm.invalid">
          </div>


        </form>
      </div>
    </div>

    <div class="edit-button-container" *ngIf="!isEditing">
      <button (click)="updateUser(user)">Editar</button>
    </div>
    <div class="cancel-button-container" *ngIf="isEditing">
      <button (click)="close()">Cancelar</button>
    </div>



  </div>

  <div class="user-page-content">
      <div class="user-seen-movies">
        <img src="#" alt="Imagen de películas">
      </div>
      <div class="user-reviews">
        <div class="user-review">
          <div class="review-poster">
            <img src="#" alt="Imagen de película reseñada">
          </div>
          <div class="review-body">
            <p>Título</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque amet modi quaerat voluptates nostrum. Earum praesentium ut possimus placeat nemo repellendus ullam beatae. Neque repellat ad aspernatur, nihil ratione velit.
            Fugit deleniti libero totam atque qui accusantium aliquid ex esse optio earum voluptatem numquam possimus eum consectetur illo quaerat sequi iusto, explicabo nostrum porro laborum enim laudantium reiciendis. Facilis, ut.</p>
          </div>
        </div>
      </div>
  </div>

</div>
