@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container{
  margin: 50px;
  padding: 50px;
  height: 500px;  /* para que el footer quede abajo */
}

.user-page-header{
  display: flex;
  justify-content:flex-start;
  padding: 15px;
  height: 200px;
}

.user-image {
  width: 13%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.user-data{
  width: 30%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-data p{
  font-size: 20px;
  margin: 30px 0;
}

.user-data p:first-child{
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
}

.edit-button-container,
.cancel-button-container{
  width: 100px;
}

.edit-button-container button,
.cancel-button-container button{
  font-size: 20px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  border-radius: 40px;
  color: white;
  padding: 10px 20px;
}

.edit-button-container button{
  background-color: #1874BA;
}

.cancel-button-container button{
  width: 120%;
  background-color: #FF8811;
}

.edit-button-container button:hover{
  background: #125385;
}

.edit-button-container button:active{
  background: #1c7fca;
}

.cancel-button-container button:hover{
  background: #e3790f;
}

.cancel-button-container button:active{
  background: #ff9a35;
}

.user-edit-form{
  height: 100%;
  width: 90%;
  display: flex;
  padding: 0 0 10px 0;
  overflow-y: scroll;
}

.user-edit-form::-webkit-scrollbar-track{
  padding: 2px 0;
}

.user-edit-form::-webkit-scrollbar {
  width: 10px;
}

.user-edit-form::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #159CA3;
  border: none;
}

.user-edit-form .form-group input{
  border: none;
  padding: 5px;
  margin: 5px 0;
  border-bottom: solid #159CA3 2px;
  width: 80%;
  color: #b1a7a6;
  font-size: 20px;
}

.user-edit-form .username input{
  margin-top: 0;
}

.user-edit-form .username input{
  font-weight: bold;
  font-size: 30px;
}

.pass-container{
  /* background: yellowgreen; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.pass-container label{
  color: #1874BA;
  font-size: 15px;
  width: 80%;
}

.button-container {
  /* padding: 15px; */
  margin: 20px 0;
  /* background-color: yellowgreen; */
  display: flex;
  width: 83%;
  justify-content: center;
}

.button-container input{
  background-color: #1874BA;
  color: white;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button-container input:hover {
  background-color: #125385;
}

.button-container input:active {
  background-color: #1c7fca;
}

.button-container input:disabled {
  background-color: #1253857a;
  cursor: default;
}

.user-data .message-container p{
  color: #FF8811;
  font-size: 20px;
  margin-top: 0px;
}

/* #file-selector {
  display: none;
} */
