<div class="container">
  <div class="user-page-header">
    <div class="user-image">
      <div *ngIf="!user.image">
        <img src="../../assets/user.png" alt="Imagen de usuario">
      </div>
      <div *ngIf="user.image">
        <img src="user.image" alt="Imagen de {{ user.username }}">
      </div>
    </div>

    <div class="user-data">
      <div *ngIf="!isEditing">
        <p *ngIf="user.username" id="user-name">{{ user.username }}</p>
        <p *ngIf="!user.name" class="unknown-data">Anónimo</p>
      </div>

      <div *ngIf="isEditing">
        <input type="text" [(ngModel)]="user.username">
      </div>

      <p>{{ user.email }}</p>

      <p *ngIf="user.name && user.surname">{{ user.name }} {{ user.surname }}</p>
      <p *ngIf="!(user.name && user.surname)" class="unknown-data">¡Aún no nos has dicho cómo te llamas!</p>

      <p *ngIf="user.birth_date">{{ user.birth_date }}</p>
    </div>

    <div class="edit-button-container" *ngIf="!isEditing">
      <button (click)="updateUser(user)">Editar</button>
    </div>

    <div *ngIf="isEditing">
      <button (click)="close()">Guardar</button>
      <button (click)="close()">Cancelar</button>
    </div>
  </div>
  <div class="user-page-content">
      <div class="user-seen-movies">
        <img src="#" alt="Imagen de películas">
      </div>
      <div class="user-reviews">
        <div class="user-review">
          <div class="review-poster">
            <img src="#" alt="Imagen de película reseñada">
          </div>
          <div class="review-body">
            <p>Título</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque amet modi quaerat voluptates nostrum. Earum praesentium ut possimus placeat nemo repellendus ullam beatae. Neque repellat ad aspernatur, nihil ratione velit.
            Fugit deleniti libero totam atque qui accusantium aliquid ex esse optio earum voluptatem numquam possimus eum consectetur illo quaerat sequi iusto, explicabo nostrum porro laborum enim laudantium reiciendis. Facilis, ut.</p>
          </div>
        </div>
      </div>
  </div>
</div>
