@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a{
  text-decoration: none;
  cursor: pointer;
}

a h3:hover{
  color:#3193dd;
}

.comment{
  display:flex;
  margin: 20px;
  background: #F5F3F4;
  border-radius: 15px;
  padding: 15px;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 15px;
  object-fit: cover;
}

.comment-right-part{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.comment-content{
  padding: 10px 0;
}

h3{
  font-size: 18px;
}

h4{
  font-size: 14px;
}

h3, h4{
  margin: 0;
  padding: 0;
  color: #1874BA;
  font-weight: bolder;
}

.comment-date p{
  font-size: small;
  margin: 0;
  padding: 0;
}

.comment-text{
  text-align: justify;
  white-space: pre-line;
  width: 95%;
}


.edit-comment{
  width: 100%;
}

.comment-actions{
  display: flex;
  width: 15%;
}

.comment-action-button {
  border: none;
  box-shadow: none;
  cursor: pointer;
  background: #1874BA;
  border-radius: 20px;
  color: white;
  padding: 5px 10px;
  margin: 5px;
}

.comment-action-button:hover{
  background: #125385;
}

.comment-action-button:active{
  background: #1c7fca;
}

.button-delete{
  background: #FF8811;
  color: #FFFFFF;
}

.button-delete:hover{
  background: #c96b0e;
}

.button-delete:active{
  background: #ff9730;
}
