<div class="comment" *ngIf="displayComment">
  <div class="comment-image-container">
    <img src="https://i.pravatar.cc/100" alt="imagen de usuario">
  </div>

  <div class="comment-right-part">
    <div class="comment-content">
      <div class="comment-author">
        <h3>{{ username }}</h3>
      </div>

      <div *ngIf="comment.updated_at !== null" class="comment-date">
        <p>Publicado el <time>{{ comment.created_at | date:'short' }}</time> </p>
      </div>
      <div *ngIf="comment.updated_at === null" class="comment-date">
        <p>Publicado desde el principio de los tiempos</p>
      </div>
    </div>

    <div class="comment-title" *ngIf="!isEditing()">
      <h4>{{ comment.title }}</h4>
    </div>

    <div class="comment-text" *ngIf="!isEditing()">
      {{ comment.description }}
    </div>

    <!-- edición de comentario -->
    <div class="edit-comment">
      <comment-form *ngIf="isEditing()"
                    submitLabel="Guardar"
                    [hasCancelButton]="true"
                    [initialText]="comment.description"
                    [initialTitle]="comment.title"
                    (handleSubmit)="updateComment.emit({ body: $event, commentId: comment.id })"
                    (handleCancel)="setActiveComment.emit(null)"
      ></comment-form>
    </div>
    <!-- fin de edición de comentario -->

    <!-- opciones de edición y borrado del comentario -->
    <div class="comment-actions" *ngIf="!isEditing()">
      <button *ngIf="canEdit"
              class="comment-action-button button-edit"
              (click)="setActiveComment.emit({ id: comment.id, type: activeCommentType.editing })"
      >
        Editar
      </button>

      <button *ngIf="canDelete"
              class="comment-action-button button-delete"
              (click)="deleteComment.emit(comment.id)"
      >
        Eliminar
      </button>
    </div>
    <!-- fin de opciones edición y borrado del comentario -->
  </div>
</div>

