@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.landing-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#banner{
  width: 900px;
  height: 550px;
  object-fit: cover;
}
.banner {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
  cursor: pointer;
}

.banner:hover {
  box-shadow: 0 2px 2px 0 #818181, 0 2px 2px 0 #b1b1b1;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
}

.landing-body {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.genre-name {
  font-size: 22px;
  font-weight: 500;
}

.genre {
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 10px;
  padding: 20px 5px;
  cursor: pointer;
}

.genre span {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
  margin-right: 25px;
}

.genre span:hover {
  transform: scale3d(1.1, 1.1, 0.3);
  -webkit-transform: scale3d(1.1, 1.1, 0.3);
  -moz-transform: scale3d(1.1, 1.1, 0.3);
}

.genre:last-child {
  margin-bottom: 30px;
}

.poster {
  /* width: 10em; */
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

/* ===== Scrollbar CSS ===== */

.genres-container .genre::-webkit-scrollbar-track {
  padding: 2px 0;
}

.genres-container .genre::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.genres-container .genre::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1874BA;
  border: none;
}
