<div class="container">
  <nav>
    <ul class="pagination">
      <li class="page-item button-prev">
        <a class="page-link"
            (click)="prevPage(currentPage)"
            *ngIf="currentPage > 1"
        >
          Anterior
        </a>
      </li>

      <div *ngFor="let page of allPages">
        <li [ngClass]="page === currentPage ? 'current-page':'page-item'">
          <a class="page-link" (click)="goToPage(page)">
            {{page}}
          </a>
        </li>
      </div>

        <!-- <a class="page-link" (click)="goToPage(currentPage)">
          {{ currentPage }}
        </a> -->
      <!-- </li> -->
      <li class="page-item button-next">
        <a class="page-link"
                (click)="nextPage(currentPage)"
                *ngIf="currentPage < totalPages"
        >
          Siguiente
      </a>
      </li>
    </ul>
  </nav>
</div>
