<div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link"
            (click)="onPageChange(currentPage - 1)"
            *ngIf="currentPage > 1"
        >
          Anterior
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="goToPage(currentPage)">
          {{ currentPage }}
        </a>
      </li>
      <li class="page-item">
        <button class="page-link"
                (click)="onPageChange(currentPage + 1)"
                *ngIf="currentPage < totalPages"
        >
          Siguiente
      </button>
      </li>
    </ul>
  </nav>
</div>
