<div class="container">
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link button-prev"
            (click)="prevPage(currentPage)"
            *ngIf="currentPage > 1"
        >
          Anterior
        </a>
      </li>

      <div *ngFor="let page of allPages">
        <li class="page-item">
          <!-- añadir una clase concreta si page === currentPage -->
          <a class="page-link" (click)="goToPage(page)">
            {{page}}
          </a>
        </li>
      </div>

        <!-- <a class="page-link" (click)="goToPage(currentPage)">
          {{ currentPage }}
        </a> -->
      <!-- </li> -->
      <li class="page-item">
        <a class="page-link button-next"
                (click)="nextPage(currentPage)"
                *ngIf="currentPage < totalPages"
        >
          Siguiente
      </a>
      </li>
    </ul>
  </nav>
</div>
