.container{
  /* background: green; */
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

ul{
  /* background: yellow; */
  display: flex;
  list-style: none;
}

.page-link {
  color: #1874BA;
  background-color: #fff;
  font-size: 1.2em;
  border: 1px solid #F5F3F4;
  padding: 0 2em 1.5em 2em;
  cursor: pointer;
}

.page-item a {
  /* background: yellowgreen; */
  padding: 1em 1.5em;
}

.page-item a:hover,
.page-item a:active{
  background-color: #D3D3D3;
}

.current-page a{
  background: #F5F3F4;
  padding: 1em 1.5em;
}

.button-next a{
  border-radius: 0 15px 15px 0;
}

.button-prev a{
  border-radius: 15px 0 0 15px;
}

.button-next a,
.button-prev a {
  color: #159CA3;
}

/* .pagination {
  margin: 0;
}

.page-item {
  display: inline-block;
}

.page-link {
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  font-size: 1.2em;
  padding: 0.5em 1em;
}

.page-link:hover,
.page-link:focus {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
} */
