*{
  text-decoration: none;
}

.movie-container {
  display: flex;
  flex-direction: column;
}

.movie-header{
  margin-top: -50px;
}

.movie-header img{
  width: 100%;
  height: 500px;
}

.movie-data{
  margin-top: -10px;
}

.movie-data span{
  padding: 10px;
  color: white;
}

.movie-data-header{
  background-color: #161A1D;
  padding: 25px;
}

.movie-title,
.movie-info{
  font-weight: lighter;
}

.movie-data .movie-title{
  font-size: 2rem;
  margin-left: 250px;
}

.movie-data .movie-info{
  margin: 10px 0 0 250px;
}

.genre-names{
  margin: 0;
  padding: 0;
}

.movie-plot{
  text-align: justify;
  font-size: 18px;
  width: 70%;
  padding: 35px 10px 5px 10px;
  margin-left: 300px;
}

.movie-poster{
  width: 180px;
  margin-top: -300px;
  margin-left: 50px;
}

.movie-poster img{
  width: 100%;
}

.movie-poster .movie-buttons{
  padding: 10px;
}

.view-button{
  font-size: 20px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  background-color: #1874BA;
  border-radius: 40px;
  color: white;
  padding: 10px 20px;
}

.view-button-unlogged{
  font-size: 20px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  background-color: #FF8811;
  border-radius: 40px;
  color: white;
  padding: 10px 20px;

}

.view-button{
  width: 150px;
  margin: 0 auto;
  border-radius: 20px;
}

.view-button:hover{
  background: #125385;
}

.view-button:active{
  background-color: #1c7fca;
}

.movie-trailer{
  margin: 0 auto;
  padding: 20px 260px;
  padding-bottom: 50px;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  width: 45%;
  background: #f5f3f4;
  border-radius: 20px;
}

h3{
  color: #1874BA;
  font-size: 25px;
  font-weight: bolder;
  align-self: start;
}

.comment-block-panel{
  position: absolute;
  z-index: 99;
  background: #f5f3f4de;
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  margin-left: 300px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
  justify-content: center;
}

.comment-block-panel button{
  width: 20%;
  margin: 20px;
}
