<div class="movie-container" *ngIf="movie">
  <div class="movie-header">
    <img [src]="url + movie.banner" alt="Banner de la película {{movie.title}}">
  </div>

  <div class="movie-data">
    <div class="movie-data-header">
      <div class="movie-title">
        <span>{{ movie.title }}</span>
      </div>

      <div class="movie-info">
        <span>Director/a: {{ movie.director }}</span>

        <ng-container *ngIf="genreNames.length >= 1">
          <span>Géneros:
            <span class="genre-names">{{genreNames.join(', ')}}</span>
          </span>
        </ng-container>
        <ng-container *ngIf="genreNames.length === 1">
          <span>Género: </span>
          <span class="genre-names" *ngFor="let genre of genreNames">{{genre}}</span>
        </ng-container>

        <span>Duración: {{ movie.runtime }} minutos</span>
      </div>
    </div>

    <div class="movie-plot">
      <p>{{ movie.plot }}</p>
    </div>
  </div>


  <div class="movie-poster">
    <img [src]="url + movie.poster" alt="Poster de la película {{movie.poster}}">
    <div class="movie-buttons">
      <!-- Si el usuario está registrado:  -->
      <button class="view-button" [routerLink]="['#']">Ver</button>
      <!-- Si el usuario no está registrado:  -->
      <!-- <button class="view-button">Alquilar</button> -->
    </div>
  </div>

  <div class="comments">
    <div *ngIf="logged" class="movie-review">
      <div class="movie-user">
        <img src="../../assets/user.png" alt="imagen de usuario">
        <h3>{{ user.email }}</h3>
      </div>

      <div class="movie-review-form">
        <form action="#">
          <div class="movie-review-title">
            <label for="review-title">Título</label>
            <input type="text" name="review-title">
          </div>
          <div class="movie-review-body">
            <label for="review-body">Comentario</label>
            <textarea name="review-body" id="review-body" cols="30" rows="10"></textarea>
          </div>

          <input type="submit" class="view-button" value="Enviar">
        </form>

      </div>
    </div>
    <!-- comentarios de otros usuarios -->
    <section>
      <article class="users-reviews">
        <img src="https://i.pravatar.cc/100" alt="imagen de usuario">

        <div class="users-reviews-card">
          <header>
            <h3>Usuario/a</h3>
            <p>Publicado hace <time>8 meses</time></p>
          </header>

            <h4>Título</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptate, porro sint pariatur modi vero provident aliquid tempore accusantium repellat similique illum molestias dolor. Nemo doloremque nam accusamus asperiores fugiat!
              Doloribus aperiam, ea debitis optio cupiditate suscipit necessitatibus ab incidunt blanditiis, eaque praesentium nam exercitationem dolor autem, rerum doloremque minus voluptatum laboriosam? Mollitia perferendis quibusdam nisi libero sint id quaerat.
            </p>
        </div>

      </article>
    </section>
  </div>

</div>
