<div class="container">
  <div class="background">
    <h1>¡Bienvenido/a de vuelta!</h1>
    <form class="login-form" [formGroup]="loginForm">

      <div class="inputs">
        <div class="email">
            <!-- <label class="label" for="email">Email</label> -->
            <input type="email" formControlName="email"  id="email" placeholder="Email">
        </div>
        <div class="pass">
            <!-- <label class="label" for="password">Contraseña</label> -->
            <input type="password" formControlName="password" id="password" placeholder="Contraseña">
        </div>

        <div class="remember-me">
          <input type="checkbox" checked="" id="checkbox-remember">
          <label for="checkbox-remember">Recuérdame</label>
        </div>

      </div>

      <div class="error-container">
        <ng-container *ngIf="hasError">
            <p class="error">{{ hasErrorText }}</p>
        </ng-container>
      </div>

      <button class="submit" type="submit" (click)="submit()" [disabled]="loginForm.invalid">Iniciar sesión</button>

      <div class="links">
          <a href="./reset-password.html">He olvidado mi contraseña</a>
          <p>¿Aún no tienes cuenta? <a routerLink="/auth/registro">Regístrate</a>.</p>
      </div>
    </form>

  </div>
</div>
